
.si {
    font-size: 125%;
    font-weight: bold;
}

/* main */
.page-container {
    background-color: white;
    color: black;
    padding: 2%;
}

.page-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.budget-card-btns {
    text-align: right;
}
/* select all buttons in the first layer in the budget card */
.budget-card-btns > * {
    /* mui */
    font-size: 80% !important;
    width: 43%;
}

.add-budget-btn,
.add-expense-btn {
    /* mui buttons have default precedence */

    margin-left: 20px !important;
    width: 12vw;
}

.page-container header {
    display: flex;
}

.header-title {
    font-size: 200%;
    font-weight: bold;
}

.budget-header-buttons .budget-header-button {
    margin-right: 5%;
    width: 15vw;
}

/* main budget */
.budget-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 2%;

    padding-top: 3%;
    padding-bottom: 3%;
}

.budget-category-card {
    border: 1px solid lightgray;
    padding: 5%;

    display: flex;
    flex-direction: column;
    align-self: center;
    height: fit-content;
    border-radius: 10%;
}

.budget-category-card.predefined {
    background-color: lightgray;
}

.header-view-expenses-btn {
    /* !important for mui reasons */
    color: green !important;
    border: 1px solid green !important;
}

/* add spacing between each item in a card */
.budget-category-card > * {
    padding-bottom: 5%;
}

/* remove space from last item */
.budget-category-card > *:last-child {
    padding-bottom: 0;
}

/* modals */
.add-budget-modal,
.add-expense-modal,
.view-expenses-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 43vw;
    height: 50vh;
    background-color: white;
    color: black;

    border: 1px solid black;
    box-shadow: 3px 5px 8px white;
    padding: 2%;
}
.add-budget-modal,
.add-expense-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* add budget modal */
.add-budget-modal header,
.add-expense-modal header,
.view-expenses-modal header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    padding-bottom: 3%;
}

.modal-add-budget-btn {
    width: 20%;
    align-self: flex-end;
}

/* add expense modal */
.modal-add-expense-btn {
    width: 25%;
    align-self: flex-end;
}

/* view expenses modal */
.view-expenses-modal {
    height: auto;
    font-size: 150%;
}
.expenses-list {
    /* this is completely useless for this project, here for best practices */

    display: flex;
    flex-direction: column;
}

.esb {
    font-weight: bold;
}

.expense-item-expense-amount {
    margin-right: 20px;
    /* position: relative;
    right: 5%; */
}
.expense-item {
    /* alignment */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* only need top padding sice it will be a list coming after
    the header, all through till the bottom of the modal */
    padding-top: 2%;
}
.expense-left-bar-side {
    display: flex;
    align-items: center;
}

.budget-component-deleting-btn {
    /* mui reasons */
    color: red !important;
    border: 1px solid red !important;
}

.view-expenses-modal-left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-budget-btn {
    margin-left: 20px !important;
}
